@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.apexcharts-tooltip.custom-process-tooltip {
    background: rgba(255, 255, 255, 0.45) !important;
    border: 1px solid #e5e7eb !important;
    border-radius: 6px;
    padding: 10px 12px !important;
    backdrop-filter: blur(6px);
    color: #1f2937;
    font-size: 11px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    }