{{ define "partials/endpoint_details_header" }}

<h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-4 bg-white dark:bg-gray-800 pt-2 z-10">
    <div class="flex items-center space-x-2">
        <p id="hostname" class="text-xl  text-gray-800 dark:text-white">--</p>
        <span id="ws-status-badge"
            class="text-xs px-2 py-0.5 rounded-full bg-gray-300 text-gray-100 dark:bg-gray-700 dark:text-gray-200 hidden">
            Connecting...
        </span>
    </div>
</h2>
<div class="flex items-center justify-between text-sm mb-4">
    <div class="flex items-center space-x-3">
        <span class="text-green-500 font-medium">● Online</span>
        <span class="text-gray-500 dark:text-gray-400">Last report: 3m ago</span>
        <span
            class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">prod</span>
        <span
            class="bg-gray-100 text-gray-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-white">k8s</span>
    </div>
    <button class="text-sm text-blue-500 hover:underline">↻ Refresh</button>
</div>
<!-- Host Summary Inline Row (Responsive) -->
<div class="flex flex-wrap items-center gap-2 mt-2 text-sm text-gray-700 dark:text-gray-300">

    <!-- Uptime -->
    <div
        class="flex items-center gap-1 bg-gray-50 dark:bg-gray-800 px-3 py-1.5 rounded-md border border-gray-200 dark:border-gray-700">
        <i class="fa-solid fa-clock text-blue-500 text-xs"></i>
        <span class="font-medium">Uptime:</span>
        <span id="uptime"></span>
    </div>

    <!-- Processes -->
    <div
        class="flex items-center gap-1 bg-gray-50 dark:bg-gray-800 px-3 py-1.5 rounded-md border border-gray-200 dark:border-gray-700">
        <i class="fa-solid fa-microchip text-green-500 text-xs"></i>
        <span class="font-medium">Procs:</span>
        <span id="procs"></span>
    </div>

    <!-- Logged-in Users -->
    <div
        class="flex items-center gap-1 bg-gray-50 dark:bg-gray-800 px-3 py-1.5 rounded-md border border-gray-200 dark:border-gray-700">
        <i class="fa-solid fa-user-group text-yellow-500 text-xs"></i>
        <span class="font-medium">Users:</span>
        <span id="users"></span>
    </div>

    <!-- OS Info -->
    <div
        class="flex items-center gap-1 bg-gray-50 dark:bg-gray-800 px-3 py-1.5 rounded-md border border-gray-200 dark:border-gray-700">
        <i class="fa-solid fa-server text-purple-500 text-xs"></i>
        <span class="font-medium">OS:</span>
        <span id="osinfo"></span>
    </div>
    <!-- OS Info -->
    <div
        class="flex items-center gap-1 bg-gray-50 dark:bg-gray-800 px-3 py-1.5 rounded-md border border-gray-200 dark:border-gray-700">
        <i class="fa-solid fa-server text-purple-500 text-xs"></i>
        <span class="font-medium">CPU:</span>
        <span id="cpu-info"></span>
    </div>
</div>
{{ end }}