{{ define "partials/navbar" }}
<nav class="fixed z-30 w-full bg-gray-800 border-b border-gray-700 text-white">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
                <!-- Mobile sidebar toggle -->
                <button id="toggleSidebar"
                    class="p-2 text-gray-400 rounded hover:text-white hover:bg-gray-700 focus:ring-2 focus:ring-gray-600">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
                <a href="/" class="flex ml-2 md:mr-24">
                    <span
                        class="self-center text-xl  sm:text-2xl whitespace-nowrap font-bold text-blue-400 tracking-wide">GoSight</span>
                </a>
            </div>
            <div class="flex items-center space-x-4 ">
                <!-- Search Input -->
                <!--
                <div class="relative w-72">
                    <input type="text" id="global-search" placeholder="Search agents, containers, logs..."
                        class="w-full px-3 py-2 text-sm border rounded-sm bg-gray-800 dark:bg-gray-900 border-gray-400 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500" />
                    <ul id="search-results"
                        class="absolute z-50 mt-1 w-full bg-white dark:bg-gray-800 text-sm rounded-md shadow-md border border-gray-200 dark:border-gray-700 hidden max-h-60 overflow-y-auto">
                        
                </ul>
                </div>-->
                <!-- Theme toggle -->
                <button aria-label="Toggle theme" id="theme-toggle" type="button"
                    class="text-gray-400 hover:text-white focus:outline-none">
                    <span id="theme-toggle-light-icon" class="hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 3v2m0 14v2m9-9h-2M5 12H3m15.364-6.364l-1.414 1.414M6.05 17.95l-1.414 1.414M17.95 17.95l1.414 1.414M6.05 6.05L4.636 4.636M12 8a4 4 0 100 8 4 4 0 000-8z" />
                        </svg>
                    </span>
                    <span aria-label="Toggle theme" id="theme-toggle-dark-icon" class="hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 12.79A9 9 0 1111.21 3a7 7 0 109.79 9.79z" />
                        </svg>
                    </span>
                </button>
                <div class="relative">
                    <button id="alert-bell" type="button"
                        class="relative text-gray-400 hover:text-white focus:outline-none"
                        data-dropdown-placement="bottom-end"
                        aria-expanded="false">

                        <!-- Bell icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                        </svg>

                        <!-- Notification dot -->
                        <span id="alert-indicator"
                            class="absolute -top-1 -right-1 w-2 h-2 bg-red-600 rounded-full hidden"></span>
                    </button>
                </div>
                <!-- User dropdown -->
                </a>
                <button id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownUserAvatar"
                    class="w-11 h-11 rounded-full shadow-md object-cover" type="button">
                    <img class="w-11 h-11 rounded-full object-cover"
                        src="https://media.licdn.com/dms/image/v2/D5603AQE1pgfPkObY8w/profile-displayphoto-shrink_100_100/B56ZRr4qcDHsAU-/0/1736976804537?e=1749686400&v=beta&t=cIew9AT-j-UZnW_QUp9-e4SGRd3-6Utl--hKwIfLsOo"
                        alt="User avatar" />
                </button>

                <div id="dropdownUserAvatar"
                    class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700 w-48">
                    <div class="px-4 py-3">
                        <span class="block text-sm text-gray-900 dark:text-white">{{ .User.FirstName }} {{
                            .User.LastName }}</span>
                        <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{ .User.Email }}</span>
                    </div>
                    <ul class="py-2" aria-labelledby="dropdownUserAvatarButton">
                        <li><a href="/profile"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">Profile</a>
                        </li>
                        <li><a href="/settings"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">Settings</a>
                        </li>
                        <li><a href="/logout"
                                class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:text-red-400 dark:hover:bg-gray-700">Sign
                                out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
{{ end }}