{{ define "tabs/console_tab" }}
<div class="hidden p-4 bg-gray-50 dark:bg-gray-800" id="console" role="tabpanel" aria-labelledby="console-tab">
  <div
      class="bg-black text-green-400 font-mono text-sm leading-relaxed whitespace-pre-wrap border border-gray-700 dark:border-gray-600 shadow-inner p-4 overflow-y-auto h-96 rounded-md">
      top - 14:22:42 up 3 days, 4:17, 2 users, load average: 0.36, 0.28, 0.25
      Tasks: 223 total, 1 running, 222 sleeping, 0 stopped, 0 zombie %Cpu(s):
      3.3 us, 1.1 sy, 0.0 ni, 94.8 id, 0.3 wa, 0.0 hi, 0.5 si, 0.0 st KiB Mem :
      32782644 total, 12345678 used, 20436966 free, 2345676 buffers

      <span class="text-blue-400">user</span>@<span class="text-purple-400">hostname123</span>:<span
          class="text-red-400">~</span>$
      <span id="console-input" class="text-cyan-400 animate-pulse">_</span>
  </div>
</div>
{{ end }}