{{ define "page-content" }}
<section class="p-4 space-y-6">
    <div class="mb-6">
        {{ template "partials/endpoint_details_header" . }}
        {{ template "partials/endpoint_details_tabs" . }}
        <div id="dashboardTabContent">
            <!-- OVERVIEW TAB CONTENT -->
            {{ template "partials/tabs/overview_tab" . }}
            <!-- COMPUTE TAB CONTENT -->
            {{ template "partials/tabs/compute_tab" . }}
            <!-- NETWORK TAB CONTENT -->
            {{ template "partials/tabs/network_tab" . }}
            <!-- DISK TAB CONTENT -->
            {{ template "partials/tabs/disk_tab" . }}
            <!-- ACTIVITY TAB CONTENT -->
            {{ template "partials/tabs/activity_tab" . }}
            <!-- LOGS TAB CONTENT -->
            {{ template "partials/tabs/logs_tab" . }}
            <!-- CONSOLE TAB CONTENT -->
            {{ template "partials/tabs/console_tab" . }}
        </div>
</section>
{{ end }}
{{ block "page-scripts" .}}
<script>
    window.endpointID = "{{ .Meta.EndpointID }}";
    window.hostID = "{{ .Meta.HostID }}";
</script>

<script type="module" src="/js/init.js"></script>
<script type="module" src="/js/singleEndpoint.js"></script>
<script type="module" src="/js/tabs.js"></script>
<script type="module" src="/js/disks.js"></script>
<script type="module" src="/js/activity.js"></script>
<script type="module" src="/js/compute.js"></script>
<script type="module" src="/js/network.js"></script>
<script type="module" src="/js/logs.js"></script>
<script type="module" src="/js/overview.js"></script>
<script type="module" src="/js/console.js"></script>

{{ end }}