{{ define "dashboard/partials/activity/pagination" }}
<!-- dashboard/partials/activity/pagination.html -->
<div class="flex justify-end items-center gap-2 pt-4">
  <button class="text-sm px-3 py-1 rounded border dark:bg-gray-900 border-gray-300 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700">
    Previous
  </button>
  <span class="text-sm text-gray-500 dark:text-gray-400">Page {{ .PageNumber }} of {{ .PageTotal }}</span>
  <button class="text-sm px-3 py-1 rounded border dark:bg-gray-900 border-gray-300 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700">
    Next
  </button>
</div>
{{ end }}
