{{ define "content_endpoint_detail" }}
<section class="flex-1 bg-white 2xl:col-span-2 dark:bg-gray-800">
    {{ template "partials/endpoint_details_header" . }}
    {{ template "partials/endpoint_details_tabs" . }}
    <div id="dashboardTabContent">
        <!-- OVERVIEW TAB CONTENT -->
        {{ template "tabs/overview_tab" . }}
        <!-- COMPUTE TAB CONTENT -->
        {{ template "tabs/compute_tab" . }}
        <!-- NETWORK TAB CONTENT -->
        {{ template "tabs/network_tab" . }}
        <!-- DISK TAB CONTENT -->
        {{ template "tabs/disk_tab" . }}
        <!-- ACTIVITY TAB CONTENT -->
        {{ template "tabs/activity_tab" . }}
        <!-- LOGS TAB CONTENT -->
        {{ template "tabs/logs_tab" . }}
        <!-- CONSOLE TAB CONTENT -->
        {{ template "tabs/console_tab" . }}
    </div>
</section>
{{ block "page-scripts" .}}
<script>
    window.endpointID = "{{ .Meta.EndpointID }}";
</script>

<script type="module" src="/js/tabs.js"></script>
<script type="module" src="/js/disks.js"></script>
<script type="module" src="/js/compute.js"></script>
<script type="module" src="/js/network.js"></script>
<script type="module" src="/js/logs.js"></script>
<script type="module" src="/js/mockup.js"></script>

<script>
    const inputEl = document.getElementById("console-input");
    const fakeCommand = "uptime";
    let idx = 0;

    const typeCommand = () => {
        if (idx < fakeCommand.length) {
            inputEl.classList.remove("animate-pulse");
            inputEl.innerText = fakeCommand.slice(0, idx + 1);
            idx++;
            setTimeout(typeCommand, 120);
        } else {
            inputEl.classList.add("animate-pulse");
        }
    };

    // Trigger typing after a short delay
    setTimeout(typeCommand, 1000);
</script>
{{ end }}
{{ end }}