{{ define "dashboard/tabs" }}
<ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
    id="dashboardTabs" data-tabs-toggle="#dashboardTabContent" role="tablist">
    <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2 active" id="overview-tab" data-tabs-target="#overview"
            type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
    </li>
    {{ if hasPermission .Permissions "metric.view.cpu" }}
    <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2" id="cpu-tab" data-tabs-target="#compute" type="button"
            role="tab" aria-controls="compute" aria-selected="false">Compute</button>
    </li>
    {{ end }}
    {{ if hasPermission .Permissions "metric.view.disk" }}
    <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2" id="disk-tab" data-tabs-target="#disk" type="button"
            role="tab" aria-controls="disk" aria-selected="false">Disk</button>
    </li>
    {{ end }}
    {{ if hasPermission .Permissions "metric.view.net" }}
    <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2" id="network-tab" data-tabs-target="#network"
            type="button" role="tab" aria-controls="network" aria-selected="false">Network</button>
    </li>
    {{ end }}
    {{ if hasPermission .Permissions "log.view.activity" }}
    <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2" id="activity-tab" data-tabs-target="#activity"
            type="button" role="tab" aria-controls="activity" aria-selected="false">Activity</button>
    </li>
    {{ end }}
    {{ if hasPermission .Permissions "console.view" }}
    <li class="mr-2" role="presentation">
        <button class="inline-block p-4 rounded-t-lg border-b-2" id="console-tab" data-tabs-target="#console"
            type="button" role="tab" aria-controls="console" aria-selected="false">Console</button>
    </li>
    {{ end }}
</ul>
<div id="dashboardTabContent">
    {{ if hasPermission .Permissions "metric.view.overview" }}
    {{ template "dashboard/tabs/overview" . }}
    {{ end }}
    {{ if hasPermission .Permissions "metric.view.cpu" }}
    {{ template "dashboard/tabs/compute" . }}
    {{ end }}
    {{ if hasPermission .Permissions "metric.view.disk" }}
    {{ template "dashboard/tabs/disk" . }}
    {{ end }}
    {{ if hasPermission .Permissions "metric.view.net" }}
    {{ template "dashboard/tabs/network" . }}
    {{ end }}
    {{ if hasPermission .Permissions "log.view.activity" }}
    {{ template "dashboard/tabs/activity" . }}
    {{ end }}
    {{ if hasPermission .Permissions "console.view" }}
    {{ template "dashboard/tabs/console" . }}
    {{ end }}
</div>
{{ end }}